body{
	font-family: 'HelveticaNeue-Light', sans-serif;
	padding-top:2%;
	background-image: url("BckGrnd.jpg");
	background-attachment: fixed;
	background-size: cover;
}
button{
	margin-top: 8px;
	margin-left: 5px;
	padding: 9px;
    border-radius: 15px;
    box-shadow: inset 0 0 1em rgb(82, 81, 77), 0 0 1em rgb(207, 186, 186);
    background-color: rgb(125, 180, 218);
	font-weight: bold;
}
button:focus{outline-style: none;}
li{list-style-type: none;}
#container{width: 100%;}
#whosTweets{
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
}
#innerContainer{
	margin: 0 auto;
	border-radius: 25px;
	padding:1%;
	background-color: #FFFFFF;
	width:315px;
}
#logo{
	font-family: 'HelveticaNeue-Thin', sans-serif;
	font-size: 40px;
	padding-left:10px;
	float:left;
}
#logo a {
	color: black;
	text-decoration: none;
}
@media (max-width: 493px){
	#logo{
		text-align: center;
		margin-left: 75px;
	}
}
.posts{padding:1%;}
.postTweet{
	margin-left: 10px;
	margin-top: 7px;
	width: 280px;
	border: 2px solid black;
	border-radius: 30px;
}
#select{
	padding:5px;
	border-bottom: 1.5px solid black;
	overflow: auto;
	background-color: white;
	border-radius: 25px;
	border: 2xpx solid black;
}
.storeUser{
	width:100px;
	border: 2px solid black;
	border-radius: 30px;
}
#Tweets{
	display:inline-block;
	text-align: center;

}
@media (max-width: 493px){
		#Tweets{
			margin-left: 40px;
		}
	}
#userBox{
	margin-left: 10px;
	float:right;
	font-size: 14px;
}
